.form--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    flex-wrap: wrap;
}
.form--box {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form--box__title {
    margin-bottom: 20px;
}

.form__button {
    margin: 10px 0;
}

.rrss--btn {
    display: block;
    margin: 20px 0;
}

.rrss--btn:hover {
    border: 1px solid black;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}